.footer {
  h2 {
    font-weight: bold;
    color: white;
    padding-bottom: 30px;
    padding: 20px 20px 40px 40px;
  }
  .footer-info {
    width: auto;
    height: 100px;
    color: white;
    div {
      padding-bottom: 10px;
    }
  }
}